h1{
    color: blanchedalmond;
    
  }
  img{border-radius: 35px;
    width: 200px;

  }
  div h2{
    background-color: blanchedalmond;
    height: 50%;
    width: 15%;
    border-radius: 25px;
  }
  div h1{
    background-color: black;
    width: 15%;
    border-radius: 20px;

  }
  div h3{
    color: brown;
    background-color: bisque;
    width: 15%;
    border-radius: 20px;
  }